{% extends 'base.html.twig' %}

{%  block title %} Authors {% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Public Content</h1>
            {% for article in articles %}
                {% if article.isPublic == true %}
                        <div class="card text-white bg-primary mb-3" style="max-width: 60rem;">
                            <div class="card-header">{{ article.articleTitle }}</div>
                            <div class="card-body">
                                <p class="card-text">{{ article.articleOutline }}</p>

                                {% for author in article.author %}
                                    <a href="/author/{{ author.id }}" class="btn btn-primary">{{ author.name }}</a>
                                {% endfor %}

                                {% if article.user is same as(app.user) or is_granted('ROLE_ADMIN') %}
                                    <a href="/article/edit/{{ article.id }}" class="btn btn-light">Edit</a>
                                    <a href="/article/delete/{{ article.id }}" class="btn btn-danger delete-author" data-id="{{ article.id }}" onclick="return confirm ('Are you sure?');">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                {% endif %}
            {% endfor %}

    <h1 class="h3 mb-3 font-weight-normal">Private Content</h1>
            {% for article in articles %}
                {% if article.isPublic == false %}
                    {% if article.user is same as(app.user) %}
                        <div class="card text-white bg-primary mb-3" style="max-width: 60rem;">
                            <div class="card-header">{{ article.articleTitle }}</div>
                            <div class="card-body">
                                <p class="card-text">{{ article.articleOutline }}</p>

                                {% for author in article.author %}
                                    <a href="/author/{{ author.id }}" class="btn btn-primary">{{ author.name }}</a>
                                {% endfor %}

                                {% if article.user is same as(app.user) %}
                                    <a href="/article/edit/{{ article.id }}" class="btn btn-light">Edit</a>
                                    <a href="/article/delete/{{ article.id }}" class="btn btn-danger delete-author" data-id="{{ article.id }}" onclick="return confirm ('Are you sure?');">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
              {% endif %}
            {% endfor %}
{% endblock %}